.circle {
  border: 8px solid #c369c3;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 86;
}

.ekis {
  font-size: 75px;
   color : #c369c3;
}

.robot-radios {
  margin: 30px;
  font-family: "Courier New", "Arial", "Helvetica";
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.mat-radio-button {
  margin: 16px;
}

.container-horizontal-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    display: inline-flex;
    justify-content: center;
    align-items:center;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.scoreboard {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.reset {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.reset:hover {
    cursor: pointer;
    background-color: yellowgreen;
}
